<div class="col-md-6 col-md-offset-3">

<p id="notice"><%= notice %></p>
  <h1>Titre: <%= @livre.titre %></h1>
  
</p>


  <h1>Auteur: <%= @livre.auteur %></h1>
  
</p>
<p>  <h1>Categorie: <%= @livre.category.name %></h1></p>

  <h1>Description:</h1> 
  <p><%= @livre.description %></p> 
  
</p>



  <h1>Url: <%= @livre.url %>  </h1>
  
</p>


  <h1>Prix: <%= @livre.prix %> €</h1>
 

<p> <%= link_to 'Modifier', edit_livre_path(@livre), class: "btn btn-primary" %> |
<%= link_to 'Supprimer', @livre, method: :delete, data: { confirm: 'Vous voulais supprimer le livre?' }, class: "btn btn-default" %></p>
<%= link_to 'Retourner', root_path, class: "btn btn-default" %>
</div>